<html>

<head>
<style type="text/css">
body { font-family:Arial; }
a { font-family:Verdana; font-weight:bold;text-decoration:none;}
#bgdiv, #sigdiv {display:none;}
div {margin:0 auto;text-align:center;}
div.spacing {height:50px;}
</style>


<META NAME="Description" CONTENT="Flickr tools to generate dynamic signatures and view photos in full screen or on any background color">
<META NAME="Keywords" CONTENT="Flickr, signature, dynamic, tools, background, fullscreen, viewer, thumbnails, generator, view, black, blue, magic">

<META http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<META NAME="robots" CONTENT="index,follow">



<title>Flickr tools - Signature generator and Background viewer</title>

</head>
<body>

<div class="spacing">&nbsp;</div>
<div>
<a href="/signatures" onmouseover="document.getElementById('sigdiv').style.display='block';" onmouseout="document.getElementById('sigdiv').style.display='none';" ><span style="color: #0063DC;">Flick</span><span style="color: #FF0084">r</span> Signature Generator</a>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="/fullscreen" onmouseover="document.getElementById('bgdiv').style.display='block';" onmouseout="document.getElementById('bgdiv').style.display='none';" ><span style="color: #0063DC;">Flick</span><span style="color: #FF0084">r</span> Full Screen Viewer</a>
</div>

<div id="bgdiv">
	<img src="static/flickrbgpromo.png" alt="Your latest or most popular photos in a signature. The photos update automatically, you don't have to do a thing! Best for emails, forums and websites." />
</div>
<div id="sigdiv">
	<img src="static/flickrsigpromo.png" alt="Show off your flickr photos in full screen, it looks better. You can still choose to view on a background color of your choice, not just black."   />
</div>

</body>
</html>
